
body{
    font-family: 'Titillium Web', sans-serif;
}

.fa {
    margin: 0 5px;
}

/*
    Header e Menu
*/
header {
    background: #484848;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 60px;
    left: 0;
    padding: 25px 70px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    

    .logo {
        margin-top: 7px;
        padding-right: 25px;
    }

    .title-blog {
        color: #A4A4A4;
        display: inline-block;
        font-size: 22px;
        font-style: italic;
        font-weight: normal;
        margin-top: 20px;
        margin-left: -10px;
        padding-right: 25px;
        text-transform: uppercase;
        width: 15%;

        strong {
            font-weight: bold;
        }
    }

    nav {
        .menu {
            border-left: 1px solid #a4a4a4;
            height: 60px;

            .menu-item {
                display: inline-block;
                margin-top: 20px;
                margin-left: 20px;

                a {
                    color: #a4a4a4;
                    &:hover{
                        color: #000;
                    }
                }
        }
    }
}
        

    .input-subscribe {
        background: transparent;
        border: 1px solid #a4a4a4;
        color: #fff;
        height: 24px;
        margin-top: 13px;
        padding: 6px 15px;
        width: 50%;
    }

    .btn-subscribe {
        background: transparent;
        border: 1px solid #8B8B8B;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        height: 38px;
        margin-left: -5px;
        margin-top: 13px;
        padding: 5px 15px;
        text-transform: uppercase;
        width: 140px;
    }

}


/*
    Imagem Destaque
*/
.destaque {
    background-image: url('../img/chamada-background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;

    .category-destaque {
        color: #727272;
        display: block;
        font-size: 16px;
        font-style: italic;
        padding-top: 65px;
        text-transform: uppercase;
    }

    .title-destaque {
        color: #fff;
        font-size: 40px;
        line-height: 45px;
        margin: 0;
    }

    .btn-destaque {
        color: #e96403;
        border: 2px solid #e96403;;
        border-radius: 6px;
        display: inline-block;
        font-style: italic;
        margin-top: 20px;
        padding: 5px 12px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: #fff;
            border-color: #fff;
        }

        strong {
            font-weight: bold;
        }
    }
}

/*
    Submenu
*/
.list-categories {
    cursor: pointer;
    margin: 20px 0;
    text-align: center;



    .item-category {
        display: inline-block;
        font-style: italic;
        font-weight: bold;
        margin: 5px;
        text-align: center;
        text-transform: uppercase;

        a {
            color: #b8b8b8;
            text-decoration: none;
        
            &.active,
            &:hover {
                color: #000;
            }
        }
    }
}


/*
    Mosaico
*/
.masonry {
    .thumb {
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        width: 100%;

        &:hover {
            .thumb-overlay,
            .link-hover,
            .description-hover {
                display: block;
            }

            .more{
                visibility: hidden;
            }
        
            .category {
                color: #fff;
            }
        
            .description {
                bottom: 120px;
            }
        }
    
    }

    .img-01 {
        background-image: url('../img/post-thumb-01.jpg');
        height: 530px;
    }
    
    .img-02 {
        background-image: url('../img/post-thumb-02.jpg');
        height: 273px;
    }
    
    .img-03 {
        background-image: url('../img/post-thumb-03.jpg');
        height: 273px;
    }
    
    .img-04 {
        background-image: url('../img/post-thumb-04.jpg');
        height: 229px;
    }
    
    .img-05 {
        background-image: url('../img/post-thumb-05.jpg');
        height: 273px;
    }
    
    .img-06 {
        background-image: url('../img/post-thumb-06.jpg');
        height: 257px;
    }
    
    .img-07 {
        background-image: url('../img/post-thumb-07.jpg');
        height: 273px;
    }
    
    .img-08 {
        background-image: url('../img/post-thumb-08.jpg');
        background-size: cover;
        height: 502px;
    }
    
    .img-09 {
        background-image: url('../img/post-thumb-09.jpg');
        height: 273px;
    }
    
    .img-10 {
        background-image: url('../img/post-thumb-10.jpg');
        height: 257px;
    }
    
    .img-11 {
        background-image: url('../img/post-thumb-11.jpg');
        height: 502px;
    }
    
    .img-12 {
        background-image: url('../img/post-thumb-12.jpg');
        height: 273px;
    }

    .thumb-overlay {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background: #e96403;
        opacity: 0.7;
    }

    .description {
        bottom: 60px;
        padding-left: 25px;
        position: absolute;
        width: 85%;

        .category {
            color: #EF6D00;
            font-size: 11px;
            font-style: italic;
            font-weight: bold;
            text-transform: uppercase;
        }

        .title {
            color: #fff;
            margin: 5px 0 -30px 0;
            width: 70%;
        }
    }

    .more {
        background: #e96403;
        border-radius: 6px 0 0 6px;
        bottom: 20px;
        color: #fff;
        float: right;
        font-size: 13px;
        font-style: italic;
        margin-bottom: 11px;
        padding: 5px;
        position: absolute;
        right: 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 20%;
    }

    .link-hover {
        color: #fff;
        display: none;
        font-style: italic;
        margin: 20px 10px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        z-index: 10;
    }
    
    .description-hover {
        color: #fff;
        border-top: 1px solid #fff;
        display: none;
        padding: 20px 10px 10px 10px;
        position: absolute;
        bottom: 0;
        width: 85%;
        font-size: 13px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-weight: normal;
    }
    
}

/*
    MediaQuery
*/
@media (max-width: 767px){

    .list-categories {
        padding: 0 5px;
    }

    .masonry {
        padding: 0;

        .thumb {
            background-size: cover;
            height: 250px !important;
        }

        .description {
            .title {
                font-size: 20px;
            }
                
        } 
    }

    .destaque {
        height: 240px;
        margin-top: 35px;
        padding: 0 20px;

        .title-destaque {
            font-size: 25px;
            line-height: 25px;
            margin: 0 auto;
            text-align: center;
            width: 100%;
        }

        .category-destaque {
            padding-top: 40px;
        }

        .btn-destaque-wrapper {
            text-align: center;
        }
    }
}

@media (min-width: 768px ) and (max-width: 1099px){

    .destaque {
        height: 315px;
        margin-top: 10px;
        padding-left: 65px;

        .title-destaque {
            font-size: 35px;
            width: 80%;
        }
    }

    .item-category {
        display: inline;
        margin: 0 10px;
    }

    .masonry {
        padding: 0;

        .column {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .thumb {
                background-size: cover;
                height: 300px !important;
                width: 50%;

                .description {
                    .title {
                        font-size: 20px;
                    }
                }
                
            }
        }
    }
}

@media (min-width: 1100px){

    .control-nav-close {
        display: none;
    }

    .destaque {
        margin-top: 110px;
        padding-left: 170px;

        .title-destaque {
            width: 65%;
        }
    }

    nav {
        width: 85%;

        .menu {
            display: inline-block;
            width: 50%;
        }
    }
        
    .masonry {
        align-items: stretch;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0 50px 40px 50px;

        .column {
            width: 28.5%;
        }
    }

    .form {
        float: right;
        width: 49%;

        .input-subscribe {
            background: transparent;
            border: 1px solid #a4a4a4;
            color: #fff;
            height: 24px;
            margin-top: 13px;
            padding: 6px 15px;
            width: 50%;
        }
    
        .btn-subscribe {
            background: transparent;
            border: 1px solid #8B8B8B;
            color: #fff;
            cursor: pointer;
            font-size: 12px;
            font-style: italic;
            font-weight: bold;
            height: 38px;
            margin-left: -5px;
            margin-top: 13px;
            padding: 5px 15px;
            text-transform: uppercase;
            width: 140px;
        }

    }
}

@media (max-width: 1100px) {
    header {
        padding: 0 35px;

        .title-blog {
            width: 50%;
        }
        .control-nav {
            border: solid #a4a4a4;
            border-width: 3px 0;
            cursor: pointer;
            display: block;
            padding: 5px 0;
            position: absolute;
            right: 20px;
            top: 20px;
            width: 30px;
            z-index: 2;
            

            &:before {
                content: "";
                display: block;
                height: 3px;
                background: #a4a4a4;
            }
        }
        .control-nav-close {
            background: rgba(0,0,0,0.4);
            bottom: 0;
            color: #fff;
            cursor: pointer;
            display: block;
            font-size: 15px;
            left: 0;
            padding: 10px;
            position: fixed;
            right: 0;
            top: 0;
            transform: translate(100%, 0);
            transition: all 500ms ease;
            z-index: 1;
        }

        nav {
            background: #484848;
            border-left: 1px solid #ccc;
            bottom: 0;
            overflow-x: auto;
            position: fixed;
            right: 0;
            top: 0;
            transform: translate(100%, 0);
            transition: all 500ms ease;
            width: 250px;
            z-index: 2;
            
            .menu{
                height: 230px;
                .menu-item {
                    border-bottom: 1px solid #666;
                    display: block;
                    margin: 20px 0;
                    padding-left: 10px;
                    padding-bottom: 16px;

                    a {
                        color: #fff;
                        display: block;
                        font-size: 18px;
                        font-weight: bold;

                    }
                }
            }

            .input-subscribe {
                background: #fff;
                color: #000;
                display: block;
                margin-left: 10px;
                padding: 5px 14px;
                width: 80%;
            }

            .btn-subscribe {
                background-color: #666;
                margin-left: 10px;
                margin-top: 2px;
                width: 92%;
            }
          }

    }
}

/*
    Menu Responsive Classes
*/

#control-nav {
    display: none;
}

#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  #control-nav:checked ~ nav {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }