
body{
    font-family: 'Titillium Web', sans-serif;
}

header {
    background: #484848;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 25px 100px;
}

.logo {
    margin-top: 7px;
    padding-right: 25px;
}

.title-blog {
    color: #A4A4A4;
    display: inline-block;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;
    margin-left: -10px;
    padding-right: 25px;
    text-transform: uppercase;
    width: 12%;
}

.title-blog
    strong {
        font-weight: bold;
    }


nav {
    width: 50%;
}

.menu {
    border-left: 1px solid #a4a4a4;
    height: 60px;
    list-style: none;
}

.menu-item {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
}

.menu-item
    a {
        color: #a4a4a4;
        text-decoration: none;
    }

.input-subscribe {
    background: transparent;
    border: 1px solid #a4a4a4;
    height: 25px;
    margin-top: 13px;
    padding: 5px 15px;
    width: 20%;
}

.btn-subscribe {
    background: transparent;
    border: 1px solid #8B8B8B;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 37px;
    margin-top: 13px;
    padding: 5px 15px;
    text-transform: uppercase;
    width: 12%;
}

.destaque {
    background-image: url('../img/chamada-background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    padding-left: 170px;
}

.category-destaque {
    color: #444;
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin-top: 110px;
    text-transform: uppercase;
}

.title-destaque {
    color: #fff;
    font-size: 40px;
    line-height: 45px;
    margin: 0;
    width: 70%;
}

.btn-destaque {
    color: #e96403;
    border: 2px solid #e96403;;
    border-radius: 6px;
    display: inline-block;
    font-style: italic;
    margin-top: 20px;
    padding: 5px 12px;
    text-decoration: none;
    text-transform: uppercase
}

.btn-destaque 
    strong {
    font-weight: bold;
}

.container {
    margin: 60px 70px;
}

.list-categories {
    cursor: pointer;
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}

.list-categories a.active,
.list-categories:hover {
    color: #000;
}

.item-category {
    display: inline;
    font-style: italic;
    font-weight: bold;
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.item-category
    a {
        color: #DEDEDE;
        text-decoration: none;
    }

.masonry {
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.col-1,
.col-3 {
    width: 30%;
}

.col-2 {
    width: 29.5%;
}

.thumb {
    cursor: pointer;
    position: relative;
    width: 100%;
}
 
.thumb:hover {
    .thumb-overlay,
    .link-hover,
    .description-hover {
        display: block;
    }

    .more{
        visibility: hidden;
    }

    .category {
        color: #fff;
    }

    .description {
        bottom: 90px;
    }

}

.thumb-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: #e96403;
    opacity: 0.7;
}
        
.img-01 {
    background: url('../img/post-thumb-01.jpg');
    background-position: center;
    height: 530px;
}

.img-02 {
    background: url('../img/post-thumb-02.jpg');
    background-position: center;
    height: 273px;
}

.img-03 {
    background: url('../img/post-thumb-03.jpg');
    background-position: center;
    height: 273px;
}

.img-04 {
    background: url('../img/post-thumb-04.jpg');
    background-position: center;
    height: 231px;
}

.img-05 {
    background: url('../img/post-thumb-05.jpg');
    background-position: center;
    height: 273px;
}

.img-06 {
    background: url('../img/post-thumb-06.jpg');
    background-position: center;
    height: 257px;
}

.img-07 {
    background: url('../img/post-thumb-07.jpg');
    background-position: center;
    height: 273px;
}

.img-08 {
    background: url('../img/post-thumb-08.jpg');
    background-position: center;
    background-size: cover;
    height: 504px;
}

.img-09 {
    background: url('../img/post-thumb-09.jpg');
    background-position: center;
    height: 273px;
}

.img-10 {
    background: url('../img/post-thumb-10.jpg');
    background-position: center;
    height: 257px;
}

.img-11 {
    background: url('../img/post-thumb-11.jpg');
    height: 504px;
}

.img-12 {
    background: url('../img/post-thumb-12.jpg');
    background-position: center;
    height: 273px;
}


.description{
    bottom: 20px;
    padding-left: 25px;
    position: absolute;
}

.title {
    color: #fff;
    margin: 5px 0 -30px 0;
    width: 70%;
}

.category {
    color: #EF6D00;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

.more {
    background: #e96403;
    border-radius: 6px 0 0 6px;
    color: #fff;
    float: right;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 11px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
}
    


.link-hover {
    color: #fff;
    display: none;
    font-style: italic;
    margin: 20px 10px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    z-index: 10;
}

.description-hover {
    color: #fff;
    border-top: 1px solid #fff;
    display: none;
    padding: 20px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    width: 85%;
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.fa {
    margin: 0 5px;
}